//Created by Wentris on 30.05.15.
//Author: Roma Khomych
//skype: Wentris71
//e-mail: homich2013@list.ru
@import "compass"
//@import "compass/reset"

@import "widgets/helpers"
//@import "widgets/form"
//@import "widgets/iconsSprite"
//@import "widgets/modal"
@import "widgets/normalize"
@import "widgets/massonry"
//@import "widgets/btn"
//@import "widgets/grid"
//@import "widgets/checkbox"
//@import "widgets/scroll_pane"


//@import "widgets/zebra"
//@import "widgets/modal"
//@import "widgets/slick"
//@import "widgets/select_box"
//@import "widgets/noUi_slider"

html
  height: 100%
//body
  height: 100%
  font:
    style:   normal
    weight:  400
    size: 14px
  line-height: 1
  direction: ltr
.wrapper
  //min-height: 100%
  //height: auto !important
  padding-bottom: $pushFooter
  margin-bottom: - $pushFooter
.container
  padding: 0 10px
  //width: 960px
  margin: 0 auto
  position: relative
%light
  font-family: 'helvetica-light', sans-serif
%bold
  font-family: "helvetica-bold", sans-serif
%thin
  font-family: "helvetica-thin", sans-serif
%roman
  font-family: 'helvetica-roman', sans-serif
.all-posts
  a
    @extend %light
    font-size: 14px
    color: #d1414b
    text-decoration: underline
    &:hover
      text-decoration: none
.blog-list
  text-align: center
  padding: 22px 7px 0 0
  li
    display: block
    margin-bottom: 51px
    &:last-child
      margin-bottom: 30px
    a
      display: block
      text-decoration: none
      color: #000000
      line-height: 1
      .title
        display: block
        font-size: 14px
        @extend %roman
        padding: 0 15px 0 21px
        line-height: 1.2
        span
          @extend %bold
          font-size: 11px
          display: block
          text-transform: uppercase
      img
        margin: 0 auto 16px
        max-width: 100%

.news-list
  padding: 14px 0 13px
  li
    display: block
    margin-bottom: 43px
    a
      display: block
      text-decoration: none
      line-height: 1
      font-size: 11px
      .date
        display: block
        margin-bottom: 3px
        color: #898989
        text-transform: uppercase
        @extend %bold
        .time
          color: #e31e24
          padding-right: 6px
      .caption
        margin-bottom: 6px
        display: block
        color: #014183
        @extend %bold
        text-transform: uppercase
      .text
        display: block
        font-size: 16px
        @extend %thin
        line-height: 18px
        color: #000000
      &:hover
        .caption
          text-decoration: underline
        .text
          color: #014183
          text-decoration: underline

















