@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kt3rfv');
	src:url('fonts/icomoon.eot?kt3rfv#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?kt3rfv') format('truetype'),
		url('fonts/icomoon.woff?kt3rfv') format('woff'),
		url('fonts/icomoon.svg?kt3rfv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
	content: "\e016";
}
.icon-Celsius:before {
	content: "\e800";
}

