[class*="w-icons"]
  background:
    image: url("../icons/sprite.png")
    repeat: no-repeat
    color: transparent
    attachment: scroll
  display: inline-block
  vertical-align: middle
  &.w-icons-soc-1
    background:
      position: -203px -18px
    width: 24px
    height: 24px
  &.w-icons-soc-2
    background:
      position: -232px -18px
    width: 24px
    height: 24px
  &.w-icons-soc-3
    background:
      position: -261px -18px
    width: 24px
    height: 24px
  &.w-icons-soc-4
    background:
      position: -290px -18px
    width: 24px
    height: 24px
  &.w-icons-soc-5
    background:
      position: -319px -18px
    width: 25px
    height: 24px













