[class*="w-icons"]
  background:
    image: url("../icons/sprite.png")
    repeat: no-repeat
    color: transparent
    attachment: scroll
  display: inline-block
  vertical-align: middle
  &.w-icons-soc-1
    background:
      position: -230px 0
    width: 24px
    height: 24px
  &.w-icons-soc-2
    background:
      position: -259px 0
    width: 24px
    height: 24px
  &.w-icons-soc-3
    background:
      position: -288px 0
    width: 24px
    height: 24px
  &.w-icons-soc-4
    background:
      position: -317px 0
    width: 24px
    height: 24px
  &.w-icons-soc-5
    background:
      position: -346px 0
    width: 25px
    height: 24px













