.block-grid
  background: #ffffff
  .masSection
    position: relative
    float: left
    width: 62%
  .right-aside
    float: left
    width: 19.5%
    padding: 19px 5px 18px 20px
    .all-posts
      text-align: center
  .left-aside
    float: left
    width: 18.5%
    padding: 10px 20px 18px 29px
.board-advertise
  .w-masonry
    width: 79.5%
    float: left
  aside
    width: 20.5%
    float: right
    padding-left: 25px
    .social-shared-tab
      background: #ffffff

.masonry
  margin: 0 auto
  .m-item,
  .grid-sizer
    width:  33.3333%
    font-size: 0
  .m-item:not(.high)
    img
      @include transition(all 2s linear 0s)
    &.white:hover
      .caption
        .title
          text-decoration: underline
      img
        @include transform(scale(1.1))
    &.black:hover
      .caption
        .title
          color: #014183
          text-decoration: underline
      img
        @include transform(scale(1.1))
      z-index: 91
  .m-item
    overflow: hidden
    position: relative
    z-index: 90

    &.high
      &:hover
        .description

          .title
            color: #014183
            text-decoration: underline
      &.bottomTheme
        &:hover
          .description
            &:after
              bottom: -30px
        .description
          .caption
            padding: 15px 15px 29px 25px
          &:after
            content: ""
            margin-left: -30px
            bottom: -26px
            width: 0
            z-index: 10
            left: 50%
            position: absolute
            height: 0
            border-style: solid
            border-width: 30px 30px 0 30px
            border-color: #f2f2f2 transparent transparent transparent
            @include transition(all .1s linear 0s)
      &.topTheme
        &:hover
          .description
            &:after
              top: -30px
        .description
          .caption
            padding: 25px 15px 29px 25px
          &:after
            content: ""
            @include transition(all .1s linear 0s)
            margin-left: -30px
            left: 50%
            z-index: 10
            top: -26px
            width: 0
            position: absolute
            height: 0
            border-style: solid
            border-width: 0 30px 30px 30px
            border-color: transparent transparent #f2f2f2 transparent
      .img
        position: relative
        display: block
      .description
        position: relative
        color: #000000
        display: block
        background: #f2f2f2
        font-size: 14px
        line-height: 1.1
        @extend %light
        .caption
          height: 100%

          .title
            font-size: 20px
            margin-bottom: 16px
          position: absolute
          width: 100%


    &.m-large
      width: 66.6666%
      .caption
        padding: 25px 39px 41px 39px
        .title
          font-size: 24px
          margin-bottom: 16px
    img
      width: 100%
      display: block
    .statistic
      position: absolute
      top: 26px
      left: 45px
      color: inherit
      font-size: 11px
      .fa
        font-size: 14px
        margin-right: 6px
    .caption
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      line-height: 1.2
      text-align: left
      @extend %light
      padding: 15px 21px 29px 31px
      display: block
      .title
        display: block
        color: inherit
        font-size: 18px
        text-decoration: none
      .info
        display: block
        color: inherit
        font-size: 14px
        margin: 0
  .white
    color: #ffffff
  .black
    color: #000000
.w-masonry
  margin: 0 auto
  .m-item,
  .grid-sizer
    width:  25%
    font-size: 0
  .m-item
    &:hover
      img
        @include transform(scale(1.1))
    img
      @include transition(all 2s linear 0s)
    &.white:hover
      .caption
        .title
          text-decoration: underline
    &.black:hover
      .caption
        .title
          color: #014183
          text-decoration: underline

      z-index: 91
  .m-item
    overflow: hidden
    position: relative
    z-index: 90
    &.m-large
      width: 50%
      .caption
        padding: 25px 39px 41px 39px
        .title
          font-size: 24px
          margin-bottom: 16px
    img
      width: 100%
      display: block
    .statistic
      position: absolute
      top: 26px
      left: 45px
      color: inherit
      font-size: 11px
      .fa
        font-size: 14px
        margin-right: 6px
    .caption
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      line-height: 1.2
      text-align: left
      @extend %light
      padding: 15px 21px 29px 31px
      display: block
      .title
        display: block
        color: inherit
        font-size: 18px
        text-decoration: none
      .text
        display: block
        color: inherit
        font-size: 14px
        margin: 0
  .white
    color: #ffffff
  .black
    color: #000000