html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix, .container, .form-group, .row {
  clear: both;
}
.clearfix:after, .clearfix:before, .container:after, .container:before, .form-group:after, .form-group:before, .row:after, .row:before {
  content: "";
  display: table;
}
.clearfix:after, .container:after, .form-group:after, .row:after {
  clear: both;
}

.form-search .form-group button {
  font-size: 0;
  text-align: center;
}
.form-search .form-group button .help {
  display: inline-block;
  vertical-align: middle;
}
.form-search .form-group button:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.1%;
  height: 100%;
  margin-left: -0.1%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.animated {
  animation: animationFrames linear 0.1s;
  animation-iteration-count: 1;
  transform-origin: 100% 100%;
  -webkit-animation: animationFrames linear 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 100%;
  -moz-animation: animationFrames linear 0.1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 100%;
  -o-animation: animationFrames linear 0.1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 100%;
  -ms-animation: animationFrames linear 0.1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 100%;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }
}
form .form-header {
  font-size: 24px;
  display: block;
}
form .form-group {
  display: block;
  font-size: 0;
  margin-bottom: 20px;
}
form .form-group input::-webkit-input-placeholder,
form .form-group textarea::-webkit-input-placeholder {
  color: #686868;
}
form .form-group input::-moz-placeholder,
form .form-group textarea::-moz-placeholder {
  color: #686868;
}
form .form-group input:-ms-input-placeholder,
form .form-group textarea:-ms-input-placeholder {
  color: #686868;
}
form .form-group input::placeholder,
form .form-group textarea::placeholder {
  color: #686868;
}
form .form-group input:focus::-webkit-input-placeholder,
form .form-group textarea:focus::-webkit-input-placeholder {
  color: #73b569;
}
form .form-group input:focus::-moz-placeholder,
form .form-group textarea:focus::-moz-placeholder {
  color: #73b569;
}
form .form-group input:focus:-ms-input-placeholder,
form .form-group textarea:focus:-ms-input-placeholder {
  color: #73b569;
}
form .form-group input:focus::placeholder,
form .form-group textarea:focus::placeholder {
  color: #73b569;
}
form .form-group .checked-custom {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #fe6d30;
  position: relative;
  display: block;
  padding: 4px 10px 4px 99px;
  min-height: 70px;
  width: 100%;
}
form .form-group .checked-custom img {
  position: absolute;
  left: 30px;
  border: 1px solid #e5e5e5;
  max-width: 50px;
  max-height: 50px;
  top: 9px;
}
form .form-group .checked-custom .w-icons-bloom1 {
  position: absolute;
  right: -11px;
  top: -12px;
}
form .form-group .checked-custom .w-icons-bloom7 {
  position: absolute;
  left: -12px;
  bottom: -10px;
}
form .form-group .checked-custom .checkboxes label {
  color: #393939;
  display: block;
  font-size: 14px;
  line-height: 1.2;
}
form .form-group .checked-custom .checkboxes label span {
  display: block;
  font-size: 12px;
  color: #7d7d7d;
  line-height: 19px;
  padding-top: 3px;
}
form .form-group .control-label {
  font-size: 14px;
  color: #393939;
}
form .form-group .control-label .small {
  display: block;
  font-size: 12px;
  color: #7d7d7d;
  line-height: 18px;
  padding-top: 15px;
  padding-right: 15px;
}
form .form-group .control-label .red {
  color: #fe6d30;
}
form .form-group .form-control input[type="text"],
form .form-group .form-control input[type="tel"],
form .form-group .form-control input[type="email"],
form .form-group .form-control input[type="password"],
form .form-group .form-control textarea {
  border: 1px solid #e5e5e5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  outline: 0;
  color: #333333;
  font-size: 14px;
  text-align: left;
  width: 100%;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.1s linear 0s;
}
form .form-group .form-control input[type="text"]:focus,
form .form-group .form-control input[type="tel"]:focus,
form .form-group .form-control input[type="email"]:focus,
form .form-group .form-control input[type="password"]:focus,
form .form-group .form-control textarea:focus {
  border-color: #73b569;
}
form .form-group .form-control input[type="text"],
form .form-group .form-control input[type="tel"],
form .form-group .form-control input[type="email"],
form .form-group .form-control input[type="password"] {
  height: 30px;
  padding: 0 10px;
}
form .form-group .form-control textarea {
  resize: none;
  padding: 10px;
  height: 140px;
}

.cart-layout .form-inline.faq-form {
  max-width: 700px;
  margin: 0 auto;
}

.form-inline.faq-form {
  padding: 20px 50px 5px;
}
.cart-layout .form-inline.faq-form {
  max-width: 700px;
  margin: 0 auto;
}
.form-inline.faq-form .form-group .control-label {
  width: 32%;
  padding: 7px 0;
}
.form-inline.faq-form .form-group .form-control {
  width: 68%;
}
.form-inline.faq-form .form-group .form-control .btn {
  padding: 0 9px;
}
.form-inline.faq-form .form-group .form-control .btn .help {
  font-size: 12px;
}
.form-inline.thin .form-group {
  padding: 0 20px;
}
.form-inline .form-group {
  padding: 0 50px;
}
.form-inline .form-group .control-label {
  float: left;
  width: 28%;
  padding: 5px 0;
}
.form-inline .form-group .form-control {
  float: right;
  width: 72%;
}
.form-inline .form-group .form-control .btn {
  padding: 0 17px;
  min-width: 0;
  margin-right: 30px;
}

.form-aside h3 {
  padding-top: 5px;
}
.form-aside .btn-holder {
  margin-bottom: 19px;
}
.form-aside .btn-holder li {
  width: 46%;
}
.form-aside .btn-holder li .btn {
  width: 100%;
}
.form-aside .gallery-preview {
  padding-top: 21px;
}
.form-aside .gallery-preview .previews {
  padding: 4px 0 0;
}
.form-aside .gallery-preview .previews li {
  float: left;
  width: 50%;
  padding: 5px;
}
.form-aside .gallery-preview .previews li img {
  display: block;
  width: 100%;
}
.form-aside .gallery-preview .previews li:nth-child(2n+1) {
  clear: both;
}
.form-aside .form-group {
  border-top: 1px solid #e5e5e5;
  padding-top: 12px;
  margin-bottom: 19px;
}
.form-aside .form-group .checkboxes.half li {
  width: 59%;
  float: left;
  margin-bottom: 16px;
}
.form-aside .form-group .checkboxes.half li:last-child {
  margin-bottom: 0;
}
.form-aside .form-group .checkboxes.half li:nth-child(2n) {
  width: 41%;
}
.form-aside .form-group .checkboxes.half li:nth-child(2n+1) {
  clear: both;
}
.form-aside .form-group .checkboxes.half li.wide {
  width: 100%;
}
.form-aside .form-group .form-control {
  display: block;
  position: relative;
}
.form-aside .form-group .control-label {
  font-weight: 700;
  color: #393939;
  display: block;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 9px;
}

.form-search {
  position: relative;
}
.form-search input::-webkit-input-placeholder,
.form-search textarea::-webkit-input-placeholder {
  color: #686868;
}
.form-search input::-moz-placeholder,
.form-search textarea::-moz-placeholder {
  color: #686868;
}
.form-search input:-ms-input-placeholder,
.form-search textarea:-ms-input-placeholder {
  color: #686868;
}
.form-search input::placeholder,
.form-search textarea::placeholder {
  color: #686868;
}
.form-search input:focus::-webkit-input-placeholder,
.form-search textarea:focus::-webkit-input-placeholder {
  color: #73b66a;
}
.form-search input:focus::-moz-placeholder,
.form-search textarea:focus::-moz-placeholder {
  color: #73b66a;
}
.form-search input:focus:-ms-input-placeholder,
.form-search textarea:focus:-ms-input-placeholder {
  color: #73b66a;
}
.form-search input:focus::placeholder,
.form-search textarea:focus::placeholder {
  color: #73b66a;
}
.form-search .form-group {
  position: relative;
}
.form-search .form-group button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  padding: 0;
  outline: 0;
  border: 0;
  background: #73b66a;
}
.form-search .form-group input {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 0 #ffffff;
  -webkit-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
  height: 30px;
  border: 1px solid #e5e5e5;
  outline: 0;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.1s linear 0s;
  padding: 0 10px;
  line-height: 1.2;
  font-size: 14px;
}
.form-search .form-group input:focus {
  -moz-box-shadow: 0 0 5px #73b66a;
  -webkit-box-shadow: 0 0 5px #73b66a;
  box-shadow: 0 0 5px #73b66a;
  color: #000000;
  border-color: #73b66a;
}

[class*="w-icons"] {
  background-image: url("../icons/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  display: inline-block;
  vertical-align: middle;
}
[class*="w-icons"].w-icons-clock {
  background-position: -380px -118px;
  width: 20px;
  height: 20px;
}
[class*="w-icons"].w-icons-user {
  background-position: -370px -1px;
  width: 20px;
  height: 26px;
}
ul.pull-right:hover [class*="w-icons"].w-icons-user {
  background-position: -299px -117px;
}
[class*="w-icons"].w-icons-caret {
  background-position: -352px -35px;
  width: 11px;
  height: 7px;
}
[class*="w-icons"].w-icons-caret.green {
  background-position: -352px -44px;
}
[class*="w-icons"].w-icons-logo {
  background-position: 0 0;
  width: 270px;
  height: 63px;
}
[class*="w-icons"].w-icons-logo.white {
  background-position: 0 -64px;
  width: 240px;
  height: 56px;
}
[class*="w-icons"].w-icons-bloom1 {
  background-position: 0 -122px;
  width: 19px;
  height: 20px;
}
[class*="w-icons"].w-icons-bloom1.big {
  background-position: -211px -123px;
  width: 29px;
  height: 30px;
}
[class*="w-icons"].w-icons-bloom2 {
  background-position: -20px -122px;
  width: 22px;
  height: 20px;
}
[class*="w-icons"].w-icons-bloom3 {
  background-position: -44px -122px;
  width: 18px;
  height: 20px;
}
[class*="w-icons"].w-icons-bloom4 {
  background-position: -63px -123px;
  width: 20px;
  height: 18px;
}
[class*="w-icons"].w-icons-bloom5 {
  background-position: -85px -123px;
  width: 20px;
  height: 20px;
}
[class*="w-icons"].w-icons-bloom6 {
  background-position: -106px -124px;
  width: 20px;
  height: 20px;
}
[class*="w-icons"].w-icons-bloom7 {
  background-position: -128px -124px;
  width: 20px;
  height: 20px;
}
[class*="w-icons"].w-icons-bloom7.big {
  background-position: -178px -124px;
  width: 30px;
  height: 30px;
}
[class*="w-icons"].w-icons-bloom8 {
  background-position: -150px -123px;
  width: 20px;
  height: 16px;
}
[class*="w-icons"].w-icons-flower {
  width: 30px;
  height: 31px;
}
[class*="w-icons"].w-icons-flower.pink {
  background-position: -272px 0;
}
[class*="w-icons"].w-icons-flower.orange {
  background-position: -304px 0;
}
[class*="w-icons"].w-icons-flower.green {
  background-position: -337px 0;
}
[class*="w-icons"].w-icons-flower.big {
  background-position: -272px -33px;
  width: 43px;
  height: 40px;
}
[class*="w-icons"].w-icons-cart {
  background-position: -319px -36px;
  width: 30px;
  height: 22px;
}
[class*="w-icons"].w-icons-face {
  background-position: -346px -61px;
  width: 8px;
  height: 16px;
}
[class*="w-icons"].w-icons-tweet {
  background-position: -365px -70px;
  width: 15px;
  height: 13px;
}
[class*="w-icons"].w-icons-vk {
  background-position: -384px -72px;
  width: 16px;
  height: 10px;
}
[class*="w-icons"].w-icons-p {
  background-position: -341px -112px;
  width: 13px;
  height: 17px;
}
[class*="w-icons"].w-icons-p.gray.small {
  background-position: -274px -117px;
  width: 6px;
  height: 9px;
}
[class*="w-icons"].w-icons-p.dark {
  background-position: -274px -98px;
}
[class*="w-icons"].w-icons-p.small {
  background-position: -360px -86px;
  width: 8px;
  height: 11px;
}
[class*="w-icons"].w-icons-p.small.dark {
  height: 10px;
  background-position: -290px -99px;
}
[class*="w-icons"].w-icons-p.medium {
  background-position: -355px -107px;
  width: 10px;
  height: 13px;
}
[class*="w-icons"].w-icons-p.medium.dark {
  background-position: -289px -111px;
  width: 9px;
}
[class*="w-icons"].w-icons-p.big {
  background-position: -341px -112px;
  width: 13px;
  height: 17px;
}
[class*="w-icons"].w-icons-p.large {
  background-position: -342px -79px;
  width: 16px;
  height: 21px;
}
[class*="w-icons"].w-icons-p.large.dark {
  background-position: -274px -98px;
  width: 13px;
  height: 17px;
}
[class*="w-icons"].w-icons-eye {
  background-position: -321px -117px;
  width: 18px;
  height: 11px;
}
[class*="w-icons"].w-icons-letter {
  background-position: -323px -62px;
  width: 20px;
  height: 14px;
}
[class*="w-icons"].w-icons-search {
  background-position: -370px -84px;
  width: 30px;
  height: 30px;
}
[class*="w-icons"].w-icons-search.small {
  background-position: -241px -76px;
  width: 20px;
  height: 20px;
}
[class*="w-icons"].w-icons-call {
  background-position: -382px -49px;
  width: 18px;
  height: 20px;
}
[class*="w-icons"].w-icons-arrowT {
  background-position: -360px -55px;
  width: 20px;
  height: 11px;
}
[class*="w-icons"].w-icons-arrowL {
  background-position: -300px -100px;
  width: 7px;
  height: 11px;
}
[class*="w-icons"].w-icons-size {
  background-position: -286px -76px;
  width: 12px;
  height: 12px;
}
[class*="w-icons"].w-icons-close {
  background-position: -325px -98px;
  width: 16px;
  height: 16px;
}

/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap_modal/blob/master/LICENSE)
 */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.3;
  filter: alpha(opacity=3);
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.affix {
  position: fixed;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal .close {
  z-index: 1000;
  right: 0;
  top: 0;
  outline: 0;
  position: absolute;
  opacity: 0.8;
  border: 0;
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-size: 0;
  padding: 0;
}
.modal .close:hover {
  opacity: 1;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal .modal-dialog {
  position: relative;
  margin: 40px auto 0;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 2px 3px rgba(1, 1, 1, 0.3);
  -webkit-box-shadow: 0 2px 3px rgba(1, 1, 1, 0.3);
  box-shadow: 0 2px 3px rgba(1, 1, 1, 0.3);
  max-width: 560px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  padding: 0;
  z-index: 1001;
}
.modal .modal-dialog .modal-content {
  position: relative;
  background: #f4f4f4;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 10px;
}
.modal .modal-dialog .modal-content .modal-body {
  position: relative;
  padding: 30px 0 0;
}
.modal .modal-dialog .modal-content .modal-body .confirm {
  text-align: center;
  padding-bottom: 40px;
}
.modal .modal-dialog .modal-content .modal-body .confirm img {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.modal .modal-dialog .modal-content .modal-body .confirm .title {
  color: #000000;
  font-size: 20px;
  display: block;
}
.modal .modal-dialog .modal-content .modal-header {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 13px;
  padding-top: 8px;
  position: relative;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-header h4 {
  color: #393939;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

label, button {
  cursor: pointer;
}

h3 {
  font-size: 18px;
  color: #393939;
  display: block;
  margin: 0;
  position: relative;
  padding: 0 0 16px;
  font-weight: 700;
}
h3.bordered {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
h3.bordered.inverse {
  margin-top: -6px;
  padding-top: 0;
  margin-bottom: 1px;
}
h3.leave-review .btn {
  height: 30px;
  width: 140px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}
h3.leave-review .btn .help {
  font-size: 12px;
}

p {
  font-size: 14px;
  line-height: 24px;
  display: block;
  color: #393939;
  margin-bottom: 20px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 11px;
}

a {
  text-decoration: underline;
  color: #fe6d30;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: 0;
  text-align: center;
  font-size: 0;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.1s linear 0s;
  padding: 0 17px;
  height: 30px;
}
.btn .help {
  display: inline-block;
  vertical-align: middle;
}
.btn:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.1%;
  height: 100%;
  margin-left: -0.1%;
}

.btn-bordered {
  border: 1px solid #000000;
  background: transparent;
}
.btn-bordered.green {
  border-color: #73b569;
}
.btn-bordered.green .help {
  color: #73b569;
}
.btn-bordered.green:hover {
  background: #73b569;
}
.btn-bordered.green:hover .help {
  color: #ffffff;
}
.btn-bordered .help {
  color: #000000;
  font-size: 12px;
}

.btn-painted {
  border: 0;
  min-width: 101px;
  background: #ffffff;
}
.btn-painted .help {
  color: #000000;
  font-size: 14px;
}
.btn-painted.green {
  background: #73b569;
}
.btn-painted.green .help {
  color: #ffffff;
}
.btn-painted.green:hover {
  background: #5b9e54;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1441px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-exs-1, .col-exs-2, .col-exs-3, .col-exs-4, .col-exs-5, .col-exs-6, .col-exs-7, .col-exs-8, .col-xs-9, .col-exs-10, .col-exs-11, .col-exs-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-exs-12 {
  width: 100%;
}

.col-exs-11 {
  width: 91.66666667%;
}

.col-exs-10 {
  width: 83.33333333%;
}

.col-exs-9 {
  width: 75%;
}

.col-exs-8 {
  width: 66.66666667%;
}

.col-exs-7 {
  width: 58.33333333%;
}

.col-exs-6 {
  width: 50%;
}

.col-exs-5 {
  width: 41.66666667%;
}

.col-exs-4 {
  width: 33.33333333%;
}

.col-exs-3 {
  width: 25%;
}

.col-exs-2 {
  width: 16.66666667%;
}

.col-exs-1 {
  width: 8.33333333%;
}

.col-exs-pull-12 {
  right: 100%;
}

.col-exs-pull-11 {
  right: 91.66666667%;
}

.col-exs-pull-10 {
  right: 83.33333333%;
}

.col-exs-pull-9 {
  right: 75%;
}

.col-exs-pull-8 {
  right: 66.66666667%;
}

.col-exs-pull-7 {
  right: 58.33333333%;
}

.col-exs-pull-6 {
  right: 50%;
}

.col-exs-pull-5 {
  right: 41.66666667%;
}

.col-exs-pull-4 {
  right: 33.33333333%;
}

.col-exs-pull-3 {
  right: 25%;
}

.col-exs-pull-2 {
  right: 16.66666667%;
}

.col-exs-pull-1 {
  right: 8.33333333%;
}

.col-exs-pull-0 {
  right: auto;
}

.col-exs-push-12 {
  left: 100%;
}

.col-exs-push-11 {
  left: 91.66666667%;
}

.col-exs-push-10 {
  left: 83.33333333%;
}

.col-exs-push-9 {
  left: 75%;
}

.col-exs-push-8 {
  left: 66.66666667%;
}

.col-exs-push-7 {
  left: 58.33333333%;
}

.col-exs-push-6 {
  left: 50%;
}

.col-exs-push-5 {
  left: 41.66666667%;
}

.col-exs-push-4 {
  left: 33.33333333%;
}

.col-exs-push-3 {
  left: 25%;
}

.col-exs-push-2 {
  left: 16.66666667%;
}

.col-exs-push-1 {
  left: 8.33333333%;
}

.col-exs-push-0 {
  left: auto;
}

.col-exs-offset-12 {
  margin-left: 100%;
}

.col-exs-offset-11 {
  margin-left: 91.66666667%;
}

.col-exs-offset-10 {
  margin-left: 83.33333333%;
}

.col-exs-offset-9 {
  margin-left: 75%;
}

.col-exs-offset-8 {
  margin-left: 66.66666667%;
}

.col-exs-offset-7 {
  margin-left: 58.33333333%;
}

.col-exs-offset-6 {
  margin-left: 50%;
}

.col-exs-offset-5 {
  margin-left: 41.66666667%;
}

.col-exs-offset-4 {
  margin-left: 33.33333333%;
}

.col-exs-offset-3 {
  margin-left: 25%;
}

.col-exs-offset-2 {
  margin-left: 16.66666667%;
}

.col-exs-offset-1 {
  margin-left: 8.33333333%;
}

.col-exs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 601px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: 91.66666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.66666667%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }

  .col-xs-pull-12 {
    right: 100%;
  }

  .col-xs-pull-11 {
    right: 91.66666667%;
  }

  .col-xs-pull-10 {
    right: 83.33333333%;
  }

  .col-xs-pull-9 {
    right: 75%;
  }

  .col-xs-pull-8 {
    right: 66.66666667%;
  }

  .col-xs-pull-7 {
    right: 58.33333333%;
  }

  .col-xs-pull-6 {
    right: 50%;
  }

  .col-xs-pull-5 {
    right: 41.66666667%;
  }

  .col-xs-pull-4 {
    right: 33.33333333%;
  }

  .col-xs-pull-3 {
    right: 25%;
  }

  .col-xs-pull-2 {
    right: 16.66666667%;
  }

  .col-xs-pull-1 {
    right: 8.33333333%;
  }

  .col-xs-pull-0 {
    right: auto;
  }

  .col-xs-push-12 {
    left: 100%;
  }

  .col-xs-push-11 {
    left: 91.66666667%;
  }

  .col-xs-push-10 {
    left: 83.33333333%;
  }

  .col-xs-push-9 {
    left: 75%;
  }

  .col-xs-push-8 {
    left: 66.66666667%;
  }

  .col-xs-push-7 {
    left: 58.33333333%;
  }

  .col-xs-push-6 {
    left: 50%;
  }

  .col-xs-push-5 {
    left: 41.66666667%;
  }

  .col-xs-push-4 {
    left: 33.33333333%;
  }

  .col-xs-push-3 {
    left: 25%;
  }

  .col-xs-push-2 {
    left: 16.66666667%;
  }

  .col-xs-push-1 {
    left: 8.33333333%;
  }

  .col-xs-push-0 {
    left: auto;
  }

  .col-xs-offset-12 {
    margin-left: 100%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xs-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table !important;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table !important;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table !important;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table !important;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 600px) {
  .hidden-exs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table !important;
  }

  tr.visible-print {
    display: table-row !important;
  }

  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.checkboxes {
  padding-top: 3px;
  padding-bottom: 3px;
}
.checkboxes input[type="checkbox"], .checkboxes input[type="radio"] {
  display: none;
}
.checkboxes input[type="checkbox"]:checked + label:before, .checkboxes input[type="radio"]:checked + label:before {
  width: 16px;
  background-position: -384px -32px;
}
.checkboxes input[type="checkbox"] + label, .checkboxes input[type="radio"] + label {
  font-size: 14px;
  color: #393939;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 0 0 0 25px;
}
.checkboxes input[type="checkbox"] + label:before, .checkboxes input[type="radio"] + label:before {
  content: "";
  width: 14px;
  position: absolute;
  left: 0;
  top: 3px;
  height: 14px;
  background-image: url("../icons/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -366px -32px;
}

.jspContainer {
  overflow: hidden;
  position: relative;
  outline: none;
  width: 100% !important;
}

.jspPane {
  position: absolute;
  width: 100% !important;
  outline: none;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 5px;
  width: 8px;
  height: 100%;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  width: 6px;
  background: #e5e5e5;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.jspDrag {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fe6d30;
}
.jspDrag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../icons/sprite.png") no-repeat -301px -76px scroll transparent;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
}

.jspVerticalBar .jspArrow {
  position: relative;
  display: block;
  width: 0;
  height: 4px;
}

.jspVerticalBar .jspArrow.jspArrowDown {
  top: 4px;
  border-top: 4px solid #ccc;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.jspVerticalBar .jspArrow.jspArrowUp {
  top: -4px;
  border-bottom: 4px solid #ccc;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  direction: ltr;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  padding-bottom: 170px;
  margin-bottom: -170px;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
