.clearfix, .container, .form-group, .row {
  clear: both;
}
.clearfix:after, .clearfix:before, .container:after, .container:before, .form-group:after, .form-group:before, .row:after, .row:before {
  content: "";
  display: table;
}
.clearfix:after, .container:after, .form-group:after, .row:after {
  clear: both;
}

.slick-prev,
.slick-next, .tabulation .tabs li a {
  font-size: 0;
  text-align: center;
}
.slick-prev .help,
.slick-next .help, .tabulation .tabs li a .help {
  display: inline-block;
  vertical-align: middle;
}
.slick-prev:after,
.slick-next:after, .tabulation .tabs li a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.1%;
  height: 100%;
  margin-left: -0.1%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.animated {
  animation: animationFrames linear 0.1s;
  animation-iteration-count: 1;
  transform-origin: 100% 100%;
  -webkit-animation: animationFrames linear 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 100%;
  -moz-animation: animationFrames linear 0.1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 100%;
  -o-animation: animationFrames linear 0.1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 100%;
  -ms-animation: animationFrames linear 0.1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 100%;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }
}
[class*="w-icons"] {
  background-image: url("../icon/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  display: inline-block;
  vertical-align: middle;
}
[class*="w-icons"].w-icons-soc-1 {
  background-position: -203px -18px;
  width: 24px;
  height: 24px;
}
[class*="w-icons"].w-icons-soc-2 {
  background-position: -232px -18px;
  width: 24px;
  height: 24px;
}
[class*="w-icons"].w-icons-soc-3 {
  background-image: url("../icon/instagram.png");
  background-position: 0 0;
  background-size: cover;
  width: 24px;
  height: 24px;
}
[class*="w-icons"].w-icons-soc-4 {
  background-position: -290px -18px;
  width: 24px;
  height: 24px;
}
[class*="w-icons"].w-icons-soc-5 {
  background-image: url("../icon/odnoklassniki.png");
  background-position: 0 0;
  background-size: cover;
  width: 24px;
  height: 24px;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

label, button {
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #014183;
  margin: 0;
  padding: 13px 0 10px;
}
h2 a {
  color: inherit;
  text-decoration: underline;
}
h2 a:hover {
  text-decoration: none;
}

.block-grid {
  background: #ffffff;
}
.block-grid .masSection {
  position: relative;
  float: left;
  width: 62%;
}
.block-grid .right-aside {
  float: left;
  width: 19.62%;
  padding: 19px 5px 18px 20px;
}
.block-grid .right-aside .all-posts {
  text-align: center;
}
.block-grid .left-aside {
  float: left;
  width: 18.38%;
  padding: 10px 20px 18px 29px;
}

.board-advertise .w-masonry {
  width: 79.5%;
  float: left;
}
.board-advertise aside {
  width: 20.5%;
  float: right;
  padding-left: 25px;
}
.board-advertise aside .social-shared-tab {
  background: #ffffff;
}

.masonry {
  margin: 0 auto;
}
.masonry .m-item,
.masonry .grid-sizer {
  width: 33.3333%;
  font-size: 0;
}
.masonry .m-item:not(.high):hover .link-overlay {
  opacity: 0.8;
}
.masonry .m-item:not(.high) img {
  -moz-transition: all 2s linear 0s;
  -o-transition: all 2s linear 0s;
  -webkit-transition: all 2s linear;
  -webkit-transition-delay: 0s;
  transition: all 2s linear 0s;
  z-index: 1;
}
.masonry .m-item:not(.high) .link-overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.4;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease 0s;
}
.masonry .m-item:not(.high).white:hover .caption .title {
  text-decoration: underline;
}
.masonry .m-item:not(.high).white:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.masonry .m-item:not(.high).black:hover {
  z-index: 91;
}
.masonry .m-item:not(.high).black:hover .caption .title {
  color: #014183;
  text-decoration: underline;
}
.masonry .m-item:not(.high).black:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.masonry .m-item {
  overflow: hidden;
  position: relative;
  z-index: 90;
}
.masonry .m-item.high:hover .description .title {
  color: #014183;
  text-decoration: underline;
}
.masonry .m-item.high.bottomTheme:hover .description:after {
  bottom: -30px;
}
.masonry .m-item.high.bottomTheme .description .caption {
  padding: 15px 15px 29px 25px;
}
.masonry .m-item.high.bottomTheme .description:after {
  content: "";
  margin-left: -30px;
  bottom: -26px;
  width: 0;
  z-index: 10;
  left: 50%;
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #f2f2f2 transparent transparent transparent;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.3s linear 0s;
}
.masonry .m-item.high.topTheme:hover .description:after {
  top: -30px;
}
.masonry .m-item.high.topTheme .description .caption {
  padding: 25px 15px 29px 25px;
}
.masonry .m-item.high.topTheme .description:after {
  content: "";
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.3s linear 0s;
  margin-left: -30px;
  left: 50%;
  z-index: 10;
  top: -26px;
  width: 0;
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #f2f2f2 transparent;
}
.masonry .m-item.high .img {
  position: relative;
  display: block;
}
.masonry .m-item.high .description {
  position: relative;
  color: #000000;
  display: block;
  background: #f2f2f2;
  font-size: 14px;
  line-height: 1.1;
}
.masonry .m-item.high .description .caption {
  height: 100%;
  position: absolute;
  width: 100%;
}
.masonry .m-item.high .description .caption .title {
  font-size: 20px;
  margin-bottom: 16px;
}
.masonry .m-item.m-large {
  width: 66.6666%;
}
.masonry .m-item.m-large .caption {
  padding: 50px 39px 25px 39px;
}
.masonry .m-item.m-large .caption .title {
  font-size: 24px;
  margin-bottom: 16px;
}
.masonry .m-item img {
  width: 100%;
  display: block;
}
.masonry .m-item .statistic {
  position: absolute;
  top: 26px;
  left: 45px;
  color: inherit;
  font-size: 11px;
  z-index: 3;
}
.masonry .m-item .statistic.black {
  color: #000;
}
.masonry .m-item .statistic .fa {
  font-size: 14px;
  margin-right: 6px;
}
.masonry .m-item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  line-height: 1.2;
  text-align: left;
  padding: 34px 21px 18px 21px;
  display: block;
}
.masonry .m-item .caption.bg-1 {
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.masonry .m-item .caption.bg-2 {
  background: rgba(4, 4, 4, 0);
  background: -moz-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4, 4, 4, 0)), color-stop(89%, rgba(4, 4, 4, 0.71)), color-stop(100%, rgba(4, 4, 4, 0.8)));
  background: -webkit-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404', GradientType=0 );
}
.masonry .m-item .caption.bg {
  background: rgba(175, 50, 54, 0);
  background: -moz-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175, 50, 54, 0)), color-stop(89%, rgba(175, 50, 54, 0.71)), color-stop(100%, rgba(175, 50, 54, 0.8)));
  background: -webkit-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3236', endColorstr='#af3236', GradientType=0 );
}
.masonry .m-item .caption .title {
  display: block;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}
.masonry .m-item .caption .info {
  display: block;
  color: inherit;
  font-size: 14px;
  margin: 0;
}
.masonry .m-item .caption .statistic {
  position: relative;
  margin: 15px 0 0;
  text-align: right;
  left: inherit;
  width: 100%;
  top: inherit;
  display: inline-block;
}
.masonry .white {
  color: #ffffff;
}
.masonry .black {
  color: #000000;
}

.w-masonry {
  margin: 0 auto;
}
.w-masonry .m-item,
.w-masonry .grid-sizer {
  width: 25%;
  font-size: 0;
}
.w-masonry .m-item:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.w-masonry .m-item img {
  -moz-transition: all 2s linear 0s;
  -o-transition: all 2s linear 0s;
  -webkit-transition: all 2s linear;
  -webkit-transition-delay: 0s;
  transition: all 2s linear 0s;
}
.w-masonry .m-item.white:hover .caption .title {
  text-decoration: underline;
}
.w-masonry .m-item.black:hover {
  z-index: 91;
}
.w-masonry .m-item.black:hover .caption .title {
  color: #014183;
  text-decoration: underline;
}
.w-masonry .m-item {
  overflow: hidden;
  position: relative;
  z-index: 90;
}
.w-masonry .m-item.m-large {
  width: 50%;
}
.w-masonry .m-item.m-large .caption {
  padding: 50px 39px 25px 39px;
}
.w-masonry .m-item.m-large .caption .title {
  font-size: 24px;
  margin-bottom: 16px;
}
.w-masonry .m-item img {
  width: 100%;
  display: block;
}
.w-masonry .m-item .statistic {
  position: absolute;
  top: 26px;
  left: 45px;
  color: inherit;
  font-size: 11px;
}
.w-masonry .m-item .statistic .fa {
  font-size: 14px;
  margin-right: 6px;
}
.w-masonry .m-item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 1.2;
  text-align: left;
  padding: 34px 21px 18px 31px;
  display: block;
}
.w-masonry .m-item .caption.bg-1 {
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.w-masonry .m-item .caption.bg-2 {
  background: rgba(4, 4, 4, 0);
  background: -moz-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4, 4, 4, 0)), color-stop(89%, rgba(4, 4, 4, 0.71)), color-stop(100%, rgba(4, 4, 4, 0.8)));
  background: -webkit-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404', GradientType=0 );
}
.w-masonry .m-item .caption.bg {
  background: rgba(175, 50, 54, 0);
  background: -moz-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175, 50, 54, 0)), color-stop(89%, rgba(175, 50, 54, 0.71)), color-stop(100%, rgba(175, 50, 54, 0.8)));
  background: -webkit-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3236', endColorstr='#af3236', GradientType=0 );
}
.w-masonry .m-item .caption .title {
  display: block;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}
.w-masonry .m-item .caption .text {
  display: block;
  color: inherit;
  font-size: 14px;
  margin: 0;
}
.w-masonry .white {
  color: #ffffff;
}
.w-masonry .black {
  color: #000000;
}

.s-masonry {
  margin: 0 auto;
}
.s-masonry .m-item,
.s-masonry .grid-sizer {
  width: 25%;
  font-size: 0;
}
.s-masonry .m-item:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.s-masonry .m-item img {
  -moz-transition: all 2s linear 0s;
  -o-transition: all 2s linear 0s;
  -webkit-transition: all 2s linear;
  -webkit-transition-delay: 0s;
  transition: all 2s linear 0s;
}
.s-masonry .m-item.white:hover .caption .title {
  text-decoration: underline;
}
.s-masonry .m-item.black:hover {
  z-index: 91;
}
.s-masonry .m-item.black:hover .caption .title {
  color: #014183;
  text-decoration: underline;
}
.s-masonry .m-item {
  overflow: hidden;
  position: relative;
  z-index: 90;
}
.s-masonry .m-item.m-large {
  width: 50%;
}
.s-masonry .m-item.m-large .caption {
  padding: 50px 39px 25px 39px;
}
.s-masonry .m-item.m-large .caption .title {
  font-size: 24px;
  margin-bottom: 16px;
}
.s-masonry .m-item img {
  width: 100%;
  display: block;
}
.s-masonry .m-item .statistic {
  position: absolute;
  top: 26px;
  left: 45px;
  color: inherit;
  font-size: 11px;
}
.s-masonry .m-item .statistic .fa {
  font-size: 14px;
  margin-right: 6px;
}
.s-masonry .m-item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 1.2;
  text-align: left;
  padding: 34px 21px 18px 31px;
  display: block;
}
.s-masonry .m-item .caption.bg-1 {
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.s-masonry .m-item .caption.bg-2 {
  background: rgba(4, 4, 4, 0);
  background: -moz-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4, 4, 4, 0)), color-stop(89%, rgba(4, 4, 4, 0.71)), color-stop(100%, rgba(4, 4, 4, 0.8)));
  background: -webkit-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404', GradientType=0 );
}
.s-masonry .m-item .caption.bg {
  background: rgba(175, 50, 54, 0);
  background: -moz-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175, 50, 54, 0)), color-stop(89%, rgba(175, 50, 54, 0.71)), color-stop(100%, rgba(175, 50, 54, 0.8)));
  background: -webkit-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3236', endColorstr='#af3236', GradientType=0 );
}
.s-masonry .m-item .caption .title {
  display: block;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}
.s-masonry .m-item .caption .text {
  display: block;
  color: inherit;
  font-size: 14px;
  margin: 0;
}
.s-masonry .white {
  color: #ffffff;
}
.s-masonry .black {
  color: #000000;
}

.t-masonry {
  margin: 0 auto;
}
.t-masonry .m-item,
.t-masonry .grid-sizer {
  width: 25%;
  font-size: 0;
}
.t-masonry .m-item:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.t-masonry .m-item img {
  -moz-transition: all 2s linear 0s;
  -o-transition: all 2s linear 0s;
  -webkit-transition: all 2s linear;
  -webkit-transition-delay: 0s;
  transition: all 2s linear 0s;
}
.t-masonry .m-item.white:hover .caption .title {
  text-decoration: underline;
}
.t-masonry .m-item.black:hover {
  z-index: 91;
}
.t-masonry .m-item.black:hover .caption .title {
  color: #014183;
  text-decoration: underline;
}
.t-masonry .m-item {
  overflow: hidden;
  position: relative;
  z-index: 90;
}
.t-masonry .m-item.m-large {
  width: 50%;
}
.t-masonry .m-item.m-large .caption {
  padding: 50px 39px 25px 39px;
}
.t-masonry .m-item.m-large .caption .title {
  font-size: 24px;
  margin-bottom: 16px;
}
.t-masonry .m-item img {
  width: 100%;
  display: block;
}
.t-masonry .m-item .statistic {
  position: absolute;
  top: 26px;
  left: 45px;
  color: inherit;
  font-size: 11px;
}
.t-masonry .m-item .statistic .fa {
  font-size: 14px;
  margin-right: 6px;
}
.t-masonry .m-item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 1.2;
  text-align: left;
  padding: 34px 21px 28px 31px;
  display: block;
}
.t-masonry .m-item .caption.bg-1 {
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.t-masonry .m-item .caption.bg-2 {
  background: rgba(4, 4, 4, 0);
  background: -moz-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4, 4, 4, 0)), color-stop(89%, rgba(4, 4, 4, 0.71)), color-stop(100%, rgba(4, 4, 4, 0.8)));
  background: -webkit-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.71) 89%, rgba(4, 4, 4, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404', GradientType=0 );
}
.t-masonry .m-item .caption.bg {
  background: rgba(175, 50, 54, 0);
  background: -moz-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175, 50, 54, 0)), color-stop(89%, rgba(175, 50, 54, 0.71)), color-stop(100%, rgba(175, 50, 54, 0.8)));
  background: -webkit-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(175, 50, 54, 0) 0%, rgba(175, 50, 54, 0.71) 89%, rgba(175, 50, 54, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3236', endColorstr='#af3236', GradientType=0 );
}
.t-masonry .m-item .caption .title {
  display: block;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}
.t-masonry .m-item .caption .text {
  display: block;
  color: inherit;
  font-size: 14px;
  margin: 0;
}
.t-masonry .white {
  color: #ffffff;
}
.t-masonry .black {
  color: #000000;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff url('/images/ajax-loader.gif') center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 26px;
  width: 26px;
  line-height: 0;
  font-size: 0 !important;
  cursor: pointer;
  color: transparent;
  top: 50%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #e3e4e5;
  margin-top: -13px;
  padding: 0;
  border: 0;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover {
  background: #d2d2d2;
}
.slick-prev:before,
.slick-next:before {
  background-image: url("../icon/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 16px;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}

.slick-prev {
  left: 4px;
}
.slick-prev:before {
  background-position: -264px -76px;
}

.slick-next {
  right: 4px;
}
.slick-next:before {
  background-position: -275px -76px;
}

/* Dots */
.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  font-size: 0;
  padding: 25px 0 6px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}
.slick-dots li.slick-active button {
  background: #014183;
}
.slick-dots li button {
  padding: 0;
  width: 6px;
  height: 7px;
  border: 0;
  background: #c3d9eb;
}

html {
  height: 100%;
}

.wrapper {
  padding-bottom: 170px;
  margin-bottom: -170px;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.masonry .m-item.high .description, .masonry .m-item .caption, .w-masonry .m-item .caption, .s-masonry .m-item .caption, .t-masonry .m-item .caption, .all-posts a, .control-panel p, .control-panel .tags-list li a, .double-link, .social-shared-tab p {
  font-family: "helvetica-light", sans-serif;
}

.blog-list li a .title, .news-list .item a .date, .news-list .item a .caption, .double-link .sub-title {
  font-family: "helvetica-bold", sans-serif;
}

.news-list .item a .text {
  font-family: "helvetica-thin", sans-serif;
}

.blog-list li a .title span {
  font-family: "helvetica-roman", sans-serif;
}

.all-posts a {
  font-size: 14px;
  color: #d1414b;
  text-decoration: underline;
}
.all-posts a:hover {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
}

.blog-list {
  text-align: center;
  padding: 22px 7px 0 0;
}
.blog-list li {
  display: block;
  margin-bottom: 51px;
}
.blog-list li:last-child {
  margin-bottom: 30px;
}
.blog-list li a {
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 1;
}
.blog-list li a:hover .title {
  color: #000000;
  text-decoration: none;
}
.blog-list li a:hover .title span {
  text-decoration: underline;
  color: #014183;
}
.blog-list li a .title {
  display: block;
  padding: 0 15px 0 21px;
  font-size: 11px;
  line-height: 1.2;
  text-transform: uppercase;
}
.blog-list li a .title span {
  text-transform: none;
  font-size: 14px;
  display: block;
}
.blog-list li a img {
  margin: 0 auto 16px;
  max-width: 100%;
}

.news-list {
  padding: 14px 0 0;
}
.news-list .item {
  display: block;
  margin-bottom: 46px;
}
.news-list .item a {
  display: block;
  text-decoration: none;
  line-height: 1;
  font-size: 11px;
}
.news-list .item a .date {
  display: block;
  margin-bottom: 3px;
  color: #898989;
  text-transform: uppercase;
}
.news-list .item a .date .time {
  color: #e31e24;
  padding-right: 6px;
}
.news-list .item a .caption {
  margin-bottom: 6px;
  display: block;
  color: #014183;
  text-transform: uppercase;
}
.news-list .item a .text {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.news-list .item a:hover .caption {
  text-decoration: underline;
}
.news-list .item a:hover .text {
  color: #014183;
  text-decoration: underline;
}

.authors {
  background: #0000ff;
  font-size: 0;
  padding: 39px 0 38px;
  text-align: center;
}
.authors .authors-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.authors .authors-list li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: middle;
}
.authors .authors-list li a {
  display: block;
  text-decoration: none;
}
.authors .authors-list li img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}
.authors .title {
  display: inline-block;
  vertical-align: middle;
  padding-right: 38px;
}
.authors .title p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 29px;
}
.authors .title img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
  border: 2px solid #ffffff;
}

.control-panel {
  padding: 32px 0 32px 2px;
  font-size: 0;
}
.control-panel p {
  font-size: 24px;
  color: #2d0014;
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px 0 0;
}
.control-panel p a {
  color: inherit;
}
.control-panel p a:hover {
  text-decoration: underline;
}
.control-panel .tags-list {
  vertical-align: middle;
  display: inline-block;
  font-size: 0;
  padding: 4px 0 0 3px;
}
.control-panel .tags-list li {
  display: inline-block;
  vertical-align: middle;
}
.control-panel .tags-list li.active a {
  border-color: rgba(0, 0, 0, 0.1);
}
.control-panel .tags-list li a {
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease 0s;
  min-height: 20px;
  padding: 2px 10px 2px 11px;
  font-size: 14px;
  color: #2d0014;
}
.control-panel .tags-list li a:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.double-link {
  background: #ffffff;
  text-decoration: none;
  position: relative;
  min-height: 520px;
  display: block;
  line-height: 1.2;
  overflow: hidden;
}
.double-link:hover .title {
  text-decoration: underline;
}
.double-link:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.double-link .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  padding: 25px;
}
.double-link img {
  -moz-transition: all 2s linear 0s;
  -o-transition: all 2s linear 0s;
  -webkit-transition: all 2s linear;
  -webkit-transition-delay: 0s;
  transition: all 2s linear 0s;
}
.double-link .img {
  display: block;
  overflow: hidden;
}
.double-link .img img {
  width: 100%;
  display: block;
}
.double-link .sub-title {
  display: block;
  font-size: 11px;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.double-link .title {
  display: block;
  font-size: 20px;
  margin-bottom: 14px;
}
.double-link .info {
  display: block;
  font-size: 14px;
}
.double-link .description {
  padding: 20px 30px 35px;
  display: block;
  color: #000000;
}
.double-link .statistic {
  position: absolute;
  bottom: 30px;
  padding: 0 30px;
  left: 0;
  width: 100%;
  color: inherit;
  font-size: 11px;
}
.double-link .statistic .fa {
  font-size: 14px;
  margin-right: 6px;
}

.newest-publications {
  margin: 0 -20px 10px;
  clear: both;
}
.newest-publications.slick-initialized .slick-item .double-link .description {
  padding-bottom: 60px;
  position: relative;
}
.newest-publications.slick-initialized .slick-item .double-link .description .statistic {
  bottom: 25px;
}
.newest-publications .item {
  width: 25%;
  margin-bottom: 20px;
  float: left;
  padding: 0 20px;
}
.newest-publications .item.wide {
  width: 50%;
}
.newest-publications .item:nth-child(4n+1) {
  clear: both;
}
.newest-publications .item img {
  width: 100%;
}
.newest-publications .item.slick-item {
  padding: 0 20px;
}

.social-shared-tab {
  padding: 40px 0 10px;
}
.social-shared-tab p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
  color: #2d0014;
}
.social-shared-tab .tabs-content {
  padding-top: 40px;
}
.social-shared-tab .tabs {
  font-size: 0;
  text-align: center;
  width: 100%;
}
.social-shared-tab .tabs .tab-title {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.social-shared-tab .tabs .tab-title + .tab-title {
  margin-left: 5px;
}
.social-shared-tab .tabs .tab-title.active a span {
  opacity: 1;
}
.social-shared-tab .tabs .tab-title a {
  padding: 0;
  display: block;
  background: transparent !important;
}
.social-shared-tab .tabs .tab-title a span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.7;
}

.tabulation .tabs-content {
  background: #ffffff;
}
.tabulation .tabs {
  width: 100%;
  background: transparent;
  padding-bottom: 24px;
}
.tabulation .tabs li {
  width: 50%;
}
.tabulation .tabs li:last-child.active a, .tabulation .tabs li:last-child:hover a {
  background: #55acee;
}
.tabulation .tabs li:first-child.active a, .tabulation .tabs li:first-child:hover a {
  background: #014183;
}
.tabulation .tabs li.active a, .tabulation .tabs li:hover a {
  color: #ffffff;
}
.tabulation .tabs li.active a .fa, .tabulation .tabs li:hover a .fa {
  color: #ffffff;
}
.tabulation .tabs li a {
  text-decoration: none;
  height: 41px;
  background: #ffffff;
  padding: 0;
  display: block;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  line-height: 1;
}
.tabulation .tabs li .help {
  padding-top: 2px;
}
.tabulation .tabs li .fa {
  margin-right: 5px;
  color: #d9d9d9;
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 1100px) {
  .newest-publications {
    margin: 0 -10px 10px;
  }
  .newest-publications .item {
    width: 33.3333%;
  }
  .newest-publications .item.empty {
    margin-bottom: 0;
    height: 0;
  }
  .newest-publications .item:nth-child(4n+1) {
    clear: none;
  }
  .newest-publications .item:nth-child(3n+1) {
    clear: both;
  }
  .newest-publications .item.slick-item {
    padding: 0 10px;
  }
  .newest-publications .item.slick-item.wide {
    display: none;
  }

  .block-grid .left-aside {
    width: 23%;
  }
  .block-grid .left-aside .news-list .item {
    margin-bottom: 31px;
  }
  .block-grid .masSection {
    width: 77%;
  }
  .block-grid .right-aside {
    width: 100%;
    padding-bottom: 40px;
    clear: both;
  }
  .block-grid .right-aside .all-posts {
    text-align: left;
  }
  .block-grid .right-aside h2 {
    text-align: left;
  }
  .block-grid .right-aside .blog-list {
    text-align: left;
    font-size: 0;
  }
  .block-grid .right-aside .blog-list.slick-initialized .slick-dots li {
    width: inherit;
    margin-bottom: 0;
  }
  .block-grid .right-aside .blog-list li {
    width: 33.3333%;
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;
    margin-bottom: 30px;
  }
  .block-grid .right-aside .blog-list li a img {
    margin-bottom: 0;
  }
  .block-grid .right-aside .blog-list li .title {
    display: inline-block;
    vertical-align: middle;
    width: 68%;
    text-align: center;
  }
  .block-grid .right-aside .blog-list li .img {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 800px) {
  .authors .title {
    margin: 0 0 20px;
  }

  .double-link {
    min-height: 570px;
  }

  .board-advertise .w-masonry {
    width: 100%;
  }
  .board-advertise aside {
    width: 100%;
    padding: 0;
  }
  .board-advertise aside .tabs {
    text-align: left;
    padding: 0 30px;
  }

  .social-shared-tab p {
    text-align: left;
    padding: 0 30px;
  }

  .newest-publications .item {
    padding: 0;
    width: 50%;
  }
  .newest-publications .item:nth-child(3n+1) {
    clear: none;
  }
  .newest-publications .item:nth-child(2n+1) {
    clear: both;
  }
  .newest-publications .tabulation {
    display: none;
  }

  .block-grid .left-aside {
    padding-right: 0;
    width: 100%;
  }
  .block-grid .left-aside .news-list .slick-list {
    padding-right: 30px;
  }
  .block-grid .left-aside .news-list .item {
    margin-bottom: 20px;
    padding-right: 30px;
  }
  .block-grid .masSection {
    width: 100%;
  }
  .block-grid .right-aside .blog-list.slick-initialized .slick-dots li {
    width: inherit;
    margin-bottom: 0;
  }
  .block-grid .right-aside .blog-list li {
    padding-right: 0;
  }
  .block-grid .right-aside .blog-list li a .title {
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 767px) {
  .block-grid .left-aside .slick-dots {
    padding-right: 29px;
  }

  .newest-publications .item {
    clear: none !important;
  }

  .block-grid .right-aside .blog-list.slick-initialized .slick-dots li {
    width: inherit;
    margin-bottom: 0;
  }
  .block-grid .right-aside .blog-list li {
    width: 100%;
  }
  .block-grid .right-aside .blog-list li .img {
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto 15px;
  }
  .block-grid .right-aside .blog-list li .img img {
    margin: 0 auto;
  }
  .block-grid .right-aside .blog-list li .title {
    width: 100%;
    display: block;
  }

  .masonry .m-item, .masonry .grid-sizer {
    width: 50%;
  }
  .masonry .m-item.m-large {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .masonry .m-item, .w-masonry .m-item, .s-masonry .m-item, .t-masonry .m-item {
    width: 100% !important;
  }
  .masonry .m-item.high.topTheme .statistic, .w-masonry .m-item.high.topTheme .statistic, .s-masonry .m-item.high.topTheme .statistic, .t-masonry .m-item.high.topTheme .statistic {
    left: inherit;
    top: inherit;
    right: 21px;
    bottom: 10px;
    z-index: 105;
    color: #fff;
  }
  .masonry .m-item.high.topTheme .description, .w-masonry .m-item.high.topTheme .description, .s-masonry .m-item.high.topTheme .description, .t-masonry .m-item.high.topTheme .description {
    background: transparent;
    width: 100%;
    z-index: 100;
    bottom: 0;
    right: 0;
    top: auto !important;
    display: block;
  }
  .masonry .m-item.high.topTheme .description .caption, .w-masonry .m-item.high.topTheme .description .caption, .s-masonry .m-item.high.topTheme .description .caption, .t-masonry .m-item.high.topTheme .description .caption {
    display: block;
    height: inherit;
    bottom: 0;
    top: inherit;
    padding: 25px 15px 50px 25px;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  .masonry .m-item.high.topTheme .description .title, .w-masonry .m-item.high.topTheme .description .title, .s-masonry .m-item.high.topTheme .description .title, .t-masonry .m-item.high.topTheme .description .title {
    padding-top: 40px;
  }
  .masonry .m-item.high.topTheme .description .title, .masonry .m-item.high.topTheme .description .text, .w-masonry .m-item.high.topTheme .description .title, .w-masonry .m-item.high.topTheme .description .text, .s-masonry .m-item.high.topTheme .description .title, .s-masonry .m-item.high.topTheme .description .text, .t-masonry .m-item.high.topTheme .description .title, .t-masonry .m-item.high.topTheme .description .text {
    color: #ffffff;
  }
  .masonry .m-item.high.topTheme .description:after, .w-masonry .m-item.high.topTheme .description:after, .s-masonry .m-item.high.topTheme .description:after, .t-masonry .m-item.high.topTheme .description:after {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .masonry .m-item.high.topTheme .description img, .w-masonry .m-item.high.topTheme .description img, .s-masonry .m-item.high.topTheme .description img, .t-masonry .m-item.high.topTheme .description img {
    display: none;
  }
  .masonry .m-item.high.bottomTheme .description, .w-masonry .m-item.high.bottomTheme .description, .s-masonry .m-item.high.bottomTheme .description, .t-masonry .m-item.high.bottomTheme .description {
    background: transparent;
    width: 100%;
    z-index: 100;
    bottom: 0;
    right: 0;
    top: auto !important;
    display: block;
    position: absolute;
  }
  .masonry .m-item.high.bottomTheme .description:after, .w-masonry .m-item.high.bottomTheme .description:after, .s-masonry .m-item.high.bottomTheme .description:after, .t-masonry .m-item.high.bottomTheme .description:after {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }
  .masonry .m-item.high.bottomTheme .description img, .w-masonry .m-item.high.bottomTheme .description img, .s-masonry .m-item.high.bottomTheme .description img, .t-masonry .m-item.high.bottomTheme .description img {
    display: none;
  }
  .masonry .m-item.high.bottomTheme .description .caption, .w-masonry .m-item.high.bottomTheme .description .caption, .s-masonry .m-item.high.bottomTheme .description .caption, .t-masonry .m-item.high.bottomTheme .description .caption {
    display: block;
    height: inherit;
    bottom: 0;
    top: inherit;
    padding: 25px 15px 50px 25px;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  .masonry .m-item.high.bottomTheme .description .title, .w-masonry .m-item.high.bottomTheme .description .title, .s-masonry .m-item.high.bottomTheme .description .title, .t-masonry .m-item.high.bottomTheme .description .title {
    padding-top: 40px;
  }
  .masonry .m-item.high.bottomTheme .description .title, .masonry .m-item.high.bottomTheme .description .text, .w-masonry .m-item.high.bottomTheme .description .title, .w-masonry .m-item.high.bottomTheme .description .text, .s-masonry .m-item.high.bottomTheme .description .title, .s-masonry .m-item.high.bottomTheme .description .text, .t-masonry .m-item.high.bottomTheme .description .title, .t-masonry .m-item.high.bottomTheme .description .text {
    color: #ffffff;
  }
  .masonry .m-item.high.bottomTheme .statistic, .w-masonry .m-item.high.bottomTheme .statistic, .s-masonry .m-item.high.bottomTheme .statistic, .t-masonry .m-item.high.bottomTheme .statistic {
    left: inherit;
    top: inherit;
    right: 21px;
    bottom: 10px;
    z-index: 105;
    color: #fff;
  }
  .masonry .m-item.m-large .caption .title, .w-masonry .m-item.m-large .caption .title, .s-masonry .m-item.m-large .caption .title, .t-masonry .m-item.m-large .caption .title {
    font-size: 16px;
  }
}
